@import url("https://fonts.googleapis.com/css2?family=Anuphan&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ec9bd8;
}
.header .banner {
  max-width: 100%;
}
.header .banner .img_banner {
  width: 100%;
  position: relative;
}

.menu {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  margin-top: 0;
}

.nav-link:hover {
  color: blue;
}

.carrusel_index {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  opacity: 0.85;
  margin-top: 5%;
  position: relative;
}

.carousel-contenedor {
  display: flex;
  position: relative;
}
.carousel-contenedor h2 {
  font-family: "Playfair Display", serif;
}

.decoracion_floral h2 {
  color: #ffffff;
  font-weight: 300;
  position: absolute;
  top: 30%;
  left: 25%;
}
.decoracion_floral p {
  color: #ffffff;
  font-weight: 50;
  position: absolute;
  top: 40%;
  left: 13%;
}
.decoracion_floral a {
  color: #ffffff;
  font-weight: 0;
  position: absolute;
  top: 50%;
  left: 35%;
  text-decoration: none;
}

.ramo_personalizado h2 {
  color: #ffffff;
  font-weight: 300;
  position: absolute;
  top: 30%;
  left: 25%;
}
.ramo_personalizado p {
  color: #ffffff;
  font-weight: 50;
  position: absolute;
  top: 40%;
  left: 20%;
}
.ramo_personalizado a {
  color: #ffffff;
  font-weight: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  text-decoration: none;
}

.tocados_prendidos h2 {
  color: #ffffff;
  font-weight: 300;
  position: absolute;
  top: 30%;
  left: 33%;
}
.tocados_prendidos p {
  color: #ffffff;
  font-weight: 50;
  position: absolute;
  top: 40%;
  left: 37%;
}
.tocados_prendidos a {
  color: #ffffff;
  font-weight: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  text-decoration: none;
}
.tocados_prendidos .img_carousel {
  max-width: 100%;
}

@media (max-width: 755px) {
  .decoracion_floral {
    justify-content: center;
  }
  .decoracion_floral h2 {
    color: #ffffff;
    font-size: 17px;
    position: absolute;
    top: 30%;
    /* left: 18%; */
  }
  .decoracion_floral p {
    text-align: start;
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    top: 45%;
    left: 8%;
  }
  .decoracion_floral a {
    color: #ffffff;
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    top: 65%;
    left: 30%;
    text-decoration: none;
  }
  .ramo_personalizado h2 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .ramo_personalizado p {
    color: #ffffff;
    font-size: 8px;
    font-weight: 50;
    position: absolute;
    top: 45%;
    left: 8%;
  }
  .ramo_personalizado a {
    color: #ffffff;
    font-size: 10px;
    font-weight: 0;
    position: absolute;
    top: 60%;
    left: 37%;
    text-decoration: none;
  }
  .tocados_prendidos h2 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 27%;
  }
  .tocados_prendidos p {
    color: #ffffff;
    font-size: 8px;
    font-weight: 50;
    position: absolute;
    top: 45%;
    left: 33%;
  }
  .tocados_prendidos a {
    color: #ffffff;
    font-size: 10px;
    font-weight: 0;
    position: absolute;
    top: 60%;
    left: 43%;
    text-decoration: none;
  }
}
@media (max-width: 480px) {
  .decoracion_floral h2 {
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .decoracion_floral p {
    text-align: start;
    color: #ffffff;
    font-size: 8px;
    position: absolute;
    top: 45%;
    left: 8%;
  }
  .decoracion_floral a {
    color: #ffffff;
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    top: 65%;
    left: 30%;
    text-decoration: none;
  }
  .ramo_personalizado h2 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .ramo_personalizado p {
    color: #ffffff;
    font-size: 8px;
    font-weight: 50;
    position: absolute;
    top: 45%;
    left: 8%;
  }
  .ramo_personalizado a {
    color: #ffffff;
    font-size: 10px;
    font-weight: 0;
    position: absolute;
    top: 60%;
    left: 37%;
    text-decoration: none;
  }
  .tocados_prendidos h2 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 27%;
  }
  .tocados_prendidos p {
    color: #ffffff;
    font-size: 8px;
    font-weight: 50;
    position: absolute;
    top: 45%;
    left: 33%;
  }
  .tocados_prendidos a {
    color: #ffffff;
    font-size: 10px;
    font-weight: 0;
    position: absolute;
    top: 60%;
    left: 43%;
    text-decoration: none;
  }
}
@media (max-width: 365px) {
  .decoracion_floral h2 {
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 30%;
    left: 18%;
  }
  .decoracion_floral p {
    text-align: inherit;
    color: #ffffff;
    font-size: 8px;
    position: absolute;
    top: 45%;
    left: 8%;
  }
  .decoracion_floral a {
    color: #ffffff;
    font-size: 8px;
    font-weight: 300;
    position: absolute;
    top: 65%;
    left: 30%;
    text-decoration: none;
  }
  .ramo_personalizado h2 {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .ramo_personalizado p {
    color: #ffffff;
    font-size: 8px;
    font-weight: 50;
    position: absolute;
    top: 45%;
    left: 8%;
  }
  .ramo_personalizado a {
    color: #ffffff;
    font-size: 8px;
    font-weight: 0;
    position: absolute;
    top: 65%;
    left: 37%;
    text-decoration: none;
  }
  .tocados_prendidos h2 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 19%;
  }
  .tocados_prendidos p {
    color: #ffffff;
    font-size: 8px;
    font-weight: 50;
    position: absolute;
    top: 47%;
    left: 28%;
  }
  .tocados_prendidos a {
    color: #ffffff;
    font-size: 10px;
    font-weight: 0;
    position: absolute;
    top: 60%;
    left: 38%;
    text-decoration: none;
  }
}
.la_floristeria {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-left: 5%;
  margin-right: 5%;
}
.la_floristeria h2 {
  text-align: center;
  color: white;
  background-color: rgba(154, 60, 142, 0.6980392157);
  font-size: 3rem;
}
.la_floristeria p {
  font-size: 1.1rem;
  padding-top: 4rem;
  color: grey;
  padding-bottom: 3rem;
}

@media (max-width: 365px) {
  .la_floristeria {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .la_floristeria h2 {
    text-align: center;
    color: white;
    background-color: rgba(154, 60, 142, 0.6980392157);
    font-size: 1.5rem;
  }
  .la_floristeria p {
    font-size: 0.8rem;
    padding-top: 2rem;
    color: grey;
    padding-bottom: 0rem;
  }
}
.grid-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item_1 item_2" "item_3 item_4";
  padding-top: 2rem;
  grid-gap: 20px;
  margin-inline: 5%;
}

.grid_item {
  display: flex;
  flex-direction: column;
  background-color: #f5f3f3;
  align-items: center;
  text-align: center;
}
.grid_item h3 {
  text-align: center;
  font-size: 2rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  color: rgba(154, 60, 142, 0.6980392157);
}
.grid_item img {
  max-width: 100%;
  height: auto;
  padding: 3rem;
}
.grid_item p {
  padding-inline: 1rem;
  padding-bottom: 2rem;
  font-size: 1.1rem;
  color: #7c7777;
}

@media (max-width: 480px) {
  .grid-conteiner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "item_1" "item_2" "item_3" "item_4";
  }
}
@media (max-width: 365px) {
  .grid-conteiner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "item_1" "item_2" "item_3" "item_4";
  }
  .grid_item {
    display: flex;
    flex-direction: column;
    background-color: #f5f3f3;
    align-items: center;
    text-align: center;
  }
  .grid_item h3 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: rgba(154, 60, 142, 0.6980392157);
  }
  .grid_item img {
    max-width: 100%;
    height: auto;
    padding: 3rem;
  }
  .grid_item p {
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #7c7777;
  }
}
.decoracion {
  margin-inline: 5%;
  padding-top: 5rem;
}

.decoracion,
.ramo_novia,
.tocado_prendido_pulsera {
  font-family: "Playfair Display", serif;
}

.decoracion p::first-letter {
  font-size: 5em;
  float: left;
  padding: 0.5rem 0.1em 0 0;
  line-height: 0.6em;
  color: black;
}

.decoracion p,
.ramo_novia p,
.tocado_prendido_pulsera p {
  font-size: 18px;
  padding-top: 2rem;
  color: #535353;
}

.ramo_novia {
  margin-inline: 5%;
  padding-top: 3rem;
}

.tocado_prendido_pulsera {
  margin-inline: 5%;
  padding-top: 3rem;
}

.arreglos_bodas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item_1 item_2";
  padding-top: 2rem;
  grid-gap: 20px;
  margin-inline: 5%;
}

.grid_item {
  display: flex;
  flex-direction: column;
  background-color: #f5f3f3;
  align-items: center;
  text-align: center;
}

@media (max-width: 480px) {
  .arreglos_bodas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "item_1" "item_2";
    padding-top: 2rem;
    grid-gap: 20px;
    margin-inline: 5%;
  }
}
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item_1 item_2";
  padding-top: 5rem;
  grid-gap: 20px;
  margin-inline: 5%;
}
.servicios .grid_item_servicios {
  display: flex;
  flex-direction: column;
  background-color: #f5f3f3;
  align-items: center;
  text-align: center;
}
.servicios .grid_item_servicios h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  color: rgba(154, 60, 142, 0.6980392157);
}
.servicios .grid_item_servicios p {
  padding-inline: 1rem;
  padding-bottom: 2rem;
  font-size: 1.1rem;
  color: #7c7777;
}
.servicios .grid_item_servicios .carousel-item {
  max-width: 100%;
  height: auto;
  padding: 3rem;
}
.servicios .grid_item_servicios .servicios_iconos img {
  width: 3rem;
  padding-bottom: 2rem;
  /* animation-name: ;
  animation-duration: ;*/
  animation-iteration-count: infinite;
  /*animation-direction: alternate; */
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}

@media (max-width: 755px) {
  .servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "item_1" "item_2";
    padding-top: 5rem;
    grid-gap: 20px;
    margin-inline: 5%;
  }
  .servicios .grid_item_servicios h2 {
    font-size: 1.5rem;
  }
  .servicios .grid_item_servicios p {
    font-size: 0.9rem;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.chiara {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1.75fr;
  grid-template-areas: "area_1 area_2" "area_1 area_3";
  margin-inline: 20%;
  gap: 1rem;
}

.chiara_item_3 {
  grid-area: area_1;
  justify-content: center;
}

.chiara_item_1 {
  grid-area: area_2;
  padding-top: 2rem;
  color: rgba(154, 60, 142, 0.6980392157);
}

.chiara_item_2 {
  grid-area: area_3;
  color: #535353;
  font-size: 1.2rem;
}

.chiara_item_3 img {
  width: 300px;
}

form {
  margin-top: 5%;
  flex-direction: column;
  align-items: flex-start;
}

input,
textarea {
  width: 325%;
}

.floristeria_info {
  display: block;
  position: relative;
  margin-top: 10%;
}

.contacto {
  display: flex;
  max-width: 2000px;
  flex-direction: column;
}
.contacto .titles h2 {
  font-family: "Playfair Display", serif;
  padding-top: 2rem;
  font-size: 2.5rem;
}
.contacto .titles h4 {
  color: #ec9bd8;
  font-size: 2rem;
}
.contacto .titles p {
  color: grey;
  font-family: "Anuphan", sans-serif;
}

.formulario {
  display: flex;
  flex-direction: center;
  width: 35%;
  padding-left: 10rem;
  padding-bottom: 4rem;
}
.formulario .box {
  padding: 0.5rem;
}
.formulario .textarea {
  padding: 6rem;
  padding-left: 0;
}

@media (max-width: 366px) {
  form {
    margin-top: 5%;
    flex-direction: column;
    align-items: flex-start;
  }
  input,
  textarea {
    width: 325%;
  }
  .floristeria_info {
    display: block;
    position: relative;
    margin-top: 10%;
  }
  .contacto {
    display: flex;
    max-width: 360px;
    flex-direction: column;
  }
  .contacto .titles h2 {
    font-family: "Playfair Display", serif;
    padding-top: 2rem;
    font-size: 2rem;
  }
  .contacto .titles h4 {
    color: #ec9bd8;
    font-size: 1.3rem;
  }
  .contacto .titles p {
    color: grey;
    font-family: "Anuphan", sans-serif;
    font-size: 1rem;
    padding-inline: 0.3rem;
  }
  .formulario {
    display: flex;
    flex-direction: center;
    width: 25%;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .formulario .box {
    padding: 0.5rem;
  }
  .formulario textarea {
    padding: 6rem;
    padding-left: 0;
  }
}
.grid_contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "area_1 area_2 area_3";
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 2rem;
  margin-inline: 5%;
  align-items: center;
}

.grid_itm_1 {
  grid-area: area_1;
}

.grid_itm_2 {
  grid-area: area_2;
}
.grid_itm_2 .social_icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.grid_itm_2 .social_icons .instagram_icon, .grid_itm_2 .social_icons .facebook_icon {
  transition: 1s;
  width: 3rem;
}
.grid_itm_2 .social_icons .instagram_icon:hover, .grid_itm_2 .social_icons .facebook_icon:hover {
  transform: scale(1.1);
}
.grid_itm_3 {
  grid-area: area_3;
}

.direccion,
.logo,
.horario {
  text-align: center;
  align-items: center;
  font-size: 1rem;
}
.direccion img,
.logo img,
.horario img {
  max-width: 100%;
  height: auto;
  background-position: center;
}

.pie h4 {
  font-size: 1.2rem;
}

.pie ul {
  list-style: none;
  text-align: center;
}

.parrafo1 {
  margin-top: 250px;
  background-color: green;
}

.contacto {
  margin-top: 5%;
  text-align: center;
}

.logo img {
  width: 300px;
}

@media (max-width: 1000px) {
  .grid_contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "area_2" "area_1" "area_3";
    padding-top: 4rem;
    padding-bottom: 4rem;
    -webkit-padding-start: 0rem;
            padding-inline-start: 0rem;
    gap: 2rem;
    margin-inline: 5rem;
    justify-items: center;
  }
  .logo img {
    max-width: 100%;
    height: auto;
    background-position: center;
  }
}
@media (max-width: 365px) {
  .grid_contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "area_2" "area_1" "area_3";
    padding-top: 4rem;
    padding-bottom: 4rem;
    -webkit-padding-start: 0rem;
            padding-inline-start: 0rem;
    gap: 2rem;
    margin-inline: 5rem;
    justify-items: center;
  }
  .logo img {
    max-width: 100%;
    height: auto;
    background-position: center;
  }
}
.decoracion_interiores {
  margin-inline: 5rem;
  background-color: #f5f3f3;
}
.decoracion_interiores h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgba(154, 60, 142, 0.6980392157);
}
.decoracion_interiores p {
  font-size: 18px;
  padding: 2rem;
  color: #535353;
}

@media (max-width: 755px) {
  .decoracion_interiores h2 {
    font-size: 1.5rem;
  }
  .decoracion_interiores p {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=stilo.css.map */