.grid-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "item_1 item_2"
        "item_3 item_4";
    padding-top: 2rem;
    grid-gap: 20px;
    margin-inline: 5%;


}

.grid_item {
    display: flex;
    flex-direction: column;
    background-color: #f5f3f3;
    align-items: center;
    text-align: center;

    h3 {
        text-align: center;
        font-size: 2rem;
        padding-top: 4rem;
        padding-bottom: 1rem;
        color: #9a3c8eb2;
    }

    img {
        max-width: 100%;
        height: auto;
        padding: 3rem;

    }

    p {
        padding-inline: 1rem;
        padding-bottom: 2rem;
        font-size: 1.1rem;
        color: #7c7777;
    }

}

@media (max-width: 480px) {
    .grid-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "item_1"
            "item_2"
            "item_3"
            "item_4";
    }

}